---
- name: Install Node Exporter using Prometheus collection
  hosts: all
  become: true

  roles:
    - role: prometheus.prometheus.node_exporter
      vars:
        node_exporter_version: "latest"
        node_exporter_web_listen_address: "0.0.0.0:9100"
