---
- name: Install Smartctl Exporter
  hosts: "bare_metal"
  become: true

  pre_tasks:
    - name: Ensure smartmontools is installed
      ansible.builtin.package:
        name: smartmontools
        state: present

  roles:
    - role: prometheus.prometheus.smartctl_exporter
      vars:
        smartctl_exporter_version: "latest"
        smartctl_exporter_web_listen_address: "0.0.0.0:9633"
        smartctl_exporter_system_user: "root"
        smartctl_exporter_system_group: "root"
